@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, wanna play?</h1>
    <a class="btn-primary btn-lg btn-outline-primary" role="button" asp-page="/QuestStart">Start</a>
</div>
