@page
@model WebUI.Pages.QuestModel
@{
}
<h4>@Model.Message</h4>
<h4>@Model.quest.GetCurrentPlayerState()</h4>
<div class="btn-group-vertical">
    @foreach (var item in Model.options)
    {
        <button type="button" class="btn btn-link">@item</button>
    }
</div>