@page "/quest"
@if (questOver) 
{ 
    <h4>@endMessage</h4>
}
else if (name != null)
{
    if(quest == null)
    {
        Begin();
    }
    <h4 class="message">@state.Message</h4>
    <h4>@state.PlayerState</h4>
    @for (int i = 0; i < 3; i++)
    {
        var j = i;
        <button class="btn btn-default" @onclick="()=>Input(j)">@state.Options[i]</button>
    }
}
else
{
    <h2>Введите имя</h2>
    <form>
        <input type="text" @bind="name" class="valid"/>
        <input type="submit" />
    </form>
}
@code {
    private string name;
    private int input;
    private Quest quest;
    private QuestState state;
    private bool questOver = false;
    private string endMessage;
    private void Begin()
    {
        quest = new Quest();
        state = quest.Start(name);
        quest.QuestOver += EndQuest;
    }
    private void Input(int i)
    {
        input = i;
        state = quest.ProcceedInput(input);
    }
    private void EndQuest(string questResult)
        {
        endMessage = questResult;
        questOver = true;
        }
}
