@page "/quest"
@if (questOver)
{
    <h4>@endMessage</h4>
}
else if (name != null)
{
    if (quest == null)
    {
        Begin();
    }
    <h4 class="message">@state.Message</h4>
    <h4>@state.PlayerStateOrAdditionalInformation</h4>
    if (state.Options != null)
    {
        for (int i = 0; i < state.Options.Count - 1; i++)
        {
            var j = i;
            <button class="btn btn-default" @onclick="()=>Input(j)">@state.Options[i]</button>
        }
    }
}
else
{
    <h2>Введите имя</h2>
    <form>
        <input type="text" @bind="name" class="valid" />
        <input type="submit" />
    </form>
}
@code {
    private string name;
    private int input;
    private Quest quest;
    private QuestState state;
    private bool questOver = false;
    private string endMessage;
    private void Begin()
    {
        quest = new Quest();
        state = quest.Start(name);
    }
    private void Input(int i)
    {
        input = i;
        state = quest.ProceedInput(input);
    }
}
