@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, wanna play?</h1>
    <a class="btn-primary btn-lg btn-outline-primary" role="button" asp-controller="Home" asp-action="GetPlayerName">Start</a>
</div>
